button{
    border-radius: 50px;
    background-color: transparent;
    border:solid 1px black;
}
.botonespedidos{
color: white;
background-color: white;
}
button:hover{
    background-color: black;
    color: white;
}
.botonespedidos{
    background-color: white;
    color: transparent;
}
a{
    text-decoration: none;
    font-weight: bold;
}
.link{
    text-decoration: underline;
}
section{
    justify-content: center;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 30px;
}
.secionima{
    height: 100%;
    width: 50%;
}
.estilosection{
    background-color: greenyellow;
}